/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 75%;
}
.span_2_of_4 {
  width: 50%;
}
.span_1_of_4 {
  width: 25%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

// @media only screen and (max-width: 480px) {
//   .col {
//     margin: 1% 0 1% 0%;
//   }
// }

// @media only screen and (max-width: 480px) {
//   .span_4_of_4 {
//     width: 100%;
//   }
//   .span_3_of_4 {
//     width: 100%;
//   }
//   .span_2_of_4 {
//     width: 100%;
//   }
//   .span_1_of_4 {
//     width: 100%;
//   }
// }
