@import "variables";
@import "mixins";

header {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


// Game Details View

.game-title_main {
  margin: 5% 1.6%;
  text-align: center;
  @include secondary-font;
}

.img_main {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}






