@import "variables";

header {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.game-title_main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.img_main {
  margin-top: 0;
  margin-bottom: 0;
  width: 90%;
}

