@import "variables";
@import "mixins";


// Header
.header_main {
  background-color: black;
  width: 100%;
  margin: 0;
}

.header-profile {
  color: $primary-color;
  float: right;
  font-size: 1.5em;
  padding: .75em 1em;
}


// Search Module
.search {
  width: 100%;
}

.search-input {
  border: none;
  border-bottom: 1px solid $info-color;
  font-size: 1.2em;
  padding: .5em;
  @include secondary-font;
  text-transform: uppercase;
  margin: 0;
}

.icon-search {
  background-color: white;
  font-size: 1.2em;
  color: $primary-color;
  margin: 0;
  padding: .58em 0em .58em 2em;
  border-bottom: 1px solid $info-color;
}

.btn-filter-search {
  font-family: $primary-font;
  font-size: 1.2em;
  background-color: $primary-color;
  color: white;
  text-align: center;
  margin: 0;
  padding: .62em;
}
