@import "variables";
@import "mixins";


// Header
.header_main {
  background-color: #1b465a;
  width: 100%;
  margin: 0;
}

.header-profile {
  color: $primary-color;
  float: right;
  font-size: 1.5em;
  padding: .75em 1em;
}

.game-swap_img {
  padding: 0 1em;
}

