@import "variables";

%padding{
  padding: 1em;
}

.logo {
  width: 30%;
  float: left;
  @extend %padding;
}

.header-profile {
  color: $primary-color;
  float: right;
  @extend %padding;

}

.inform {
  background-color: $info-color;
  margin: 0;
}

.btn-positive {
  text-decoration: none;
  margin: 0;
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 1em 0;
}


.btn-fav {
  margin: 0 auto;
  background-color: pink;
  &>span {
    color: white;
    font-size: 1.5em;
    padding: 2em;
  }

  .btn-fav-checkbox {
    margin: 0;
  }
}



