@import "variables";

.btn-fav:active {
  background-color: $accent-color;
}

.btn-fav:visited {
  background-color: $accent-color;
}

.icon-user:active {
  color: white;
}

.icon-search:active {
  color: $secondary-color;
}
