@font-face {
     font-family: 'ABeeZee';
     src: url('../assets/fonts/ABeeZee-Regular.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Gasalt-Black';
     src: url('../assets/fonts/Gasalt-Black.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Gasalt-Regular';
     src: url('../assets/fonts/Gasalt-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'zorque';
     src: url('../assets/fonts/zorque.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

@font-face {
  font-family: 'swap';
  src:url('../assets/fonts/swap.eot?k83xfr');
  src:url('../assets/fonts/swap.eot?#iefixk83xfr') format('embedded-opentype'),
    url('../assets/fonts/swap.woff?k83xfr') format('woff'),
    url('../assets/fonts/swap.ttf?k83xfr') format('truetype'),
    url('../assets/fonts/swap.svg?k83xfr#swap') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'swap';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user2:before {
  content: "\e609";
}
.icon-user3:before {
  content: "\e60a";
}
.icon-user:before {
  content: "\e600";
}
.icon-search:before {
  content: "\e602";
}
.icon-remove:before {
  content: "\e604";
}
.icon-star:before {
  content: "\e605";
}
.icon-star2:before {
  content: "\e606";
}
.icon-cancel-circle:before {
  content: "\e601";
}
.icon-close:before {
  content: "\e603";
}
.icon-checkmark:before {
  content: "\e60b";
}
.icon-arrow-right:before {
  content: "\e60c";
}
.icon-arrow-left:before {
  content: "\e608";
}
.icon-checkbox-checked:before {
  content: "\e60d";
  background-color: $secondary-color;
}
.icon-checkbox-unchecked:before {
  content: "\e60e";
}
.icon-checkbox-partial:before {
  content: "\e60f";
}
.icon-trash:before {
  content: "\e607";
}
