$primary-color: #009999;

$secondary-color: #1b465a;

$accent-color: #f53131;

$info-color: #d7d7d7;

$primary-font: 'ABeeZee';

$Gasalt: 'Gasalt-Regular';


// darker set
$primary-color-dark: #006666;

$secondary-color-dark: #0f2733;

$accent-color-dark: #cf0a0a;

// lighter set
$primary-color-light: #00b3b3;

$secondary-color-light: #21556e;

$accent-color-light: #f76262;


