@import 'bower_components/bootstrap-sass/lib/bootstrap.scss';
@import 'bower_components/toastr/toastr.scss';

body {
  padding-top: 50px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid black;
}
