<div data-ng-controller="mainCtrl">
  <div data-ng-show="isAuthenticated()">
    Log Out
  </div>
  <div data-ng-show="!isAuthenticated()">
    Log In
  </div>
</div>
  <div data-ng-hide="existingUser">
    <a href="#/login"></a>
    <button data-ng-click="#/login">Create New User</button>
  </div>
  <div data-ng-show="existingUser">
    <button data-ng-click="logOut()">Sign In</button>
  </div>
  <div><h4>OR</h4></div>
  <button data-ng-click="existingUser = !existingUser">{{existingUser ? 'Create New User' : 'Log in to existing account'}}</button>
</div>


  <div data-ng-controller="mainCtrl">
    <div data-ng-hide="loggedIn" data-ng-click="isLoggedIn()">
      <a href="#/login">Login</a>
    </div>
    <div data-ng-show="loggedIn" data-ng-click="logOut(); isLoggedIn()">
      <a href="#">Log out</a>
    </div>
  </div>
