
<p class="inform"> Add Game Page </p>
  <button class="btn-add" ng-click="addGame()"> Add Game </button>

  <!-- title bar -->
  <h1 class="game-title_main">{{ game.title }}</h1>

  <!-- game image -->
  <img src='{{ game.image_urls[0] }}'></img>

  <!-- ADD/EDIT an image -->
<section class="upload">
  <button class="btn-upload" ng-click="addEditImage()"> Add / Edit </button>
</section>

  <!-- user name --> <!-- TODO: id number -->

    <section class="game-info_main">
      <h1>{{ game.owner }}</h1>
  <!-- TODO: HERE -->
  <!-- [ ] Platform Dropdown Chooser -->

  <!-- game.short_description  only -->
  <p>{{ game.short_description }}</p>
</section>
