
<p class="inform"> Add Game Page </p>


  <!-- title bar -->
  <h1 class="game-title_main">{{ game.title }}</h1>

  <!-- game image -->

  <img class="game-image"src='{{ game.image_urls[0] }}'></img>

  <!-- ADD/EDIT an image -->
<section class="upload">
  <button class="btn-upload" ng-click="addEditImage()"> Add / Edit Photo</button>
</section>

  <!-- user name --> <!-- TODO: id number -->

    <section class="game-info_main">
  <!-- TODO: HERE -->
  <!-- [ ] Platform Dropdown Chooser -->
<select class="choose-platform">
  <option>Atari</option>
  <option>Board</option>
  <option>Card</option>
  <option>DS</option>
  <option>Game Boy</option>
  <option>GameCube</option>
  <option>NES</option>
  <option>N64</option>
  <option>Sega</option>
  <option>PC</option>
  <option>PS1</option>
  <option>PS2</option>
  <option>PS3</option>
  <option>PS4</option>
  <option>PSP</option>
  <option>Wii</option>
  <option>Wii PC</option>
  <option>Wii U</option>
  <option>Vita</option>
  <option>Xbox</option>
  <option>Xbox 360</option>
  <option>Xbox One</option>
  <option>Other</option>
</select>

  <!-- game.short_description  only -->
  <p>{{ game.short_description }}</p>
</section>

<button class="btn-add" ng-click="addGame()"> Add Game </button>
