        <p class="inform">Choose A Game<p>
        <!-- game title -->
        <h1 class="game-title_main"> {{ game.title }} My Game</p>
        <!-- game info -->
        <main class="game-summary">
          <div ng-repeat="game in games | limitTo:10" class="row">
            <div class="col-md-9">
              <img class="game-image" src='{{ game.image_urls[0] }}'></img>
              <a href="#/gamedetails/{{game._id}}">{{ game.title }}: {{ game.platform }}</a>
            </div>
          </div>
        </main>
        <button ng-click="declineRequest()">Decline Request<button>

