        <p class="inform">Choose A Game<p>
        <!-- game title -->
        <section class= "game-preview">
          <h4>My Game</h4>
        <h1 {{ game.title }}> Call of Duty</h1>
        <h2>{{ game.platform }} XBox</h2>
      </section>
        <!-- game info -->
        <main class="game-summary">
          <div ng-repeat="game in games | limitTo:10" class="row">
            <div class="col-md-9">
              <img class="game-image" src='{{ game.image_urls[0] }}'></img>
              <a href="#/gamedetails/{{game._id}}">{{ game.title }}: {{ game.platform }}</a>
            </div>
          </div>
        </main>
        <button ng-click="declineRequest()">Decline Request<button>

