<section class="inform">
      Filter
  </section>
   <section class ="search section group">
    <input type="text" class="search-input col span_2_of_4" data-ng-model="search.title" placeholder="search"/>
    <button class="icon-search col span_1_of_4" data-ng-click="filterSearch()"></button>
    <a href="#/filtersearch" class="search-button col span_1_of_4">Filter</a>
  </section>
  <section class="filter">
     <h1 class="title-single">Search by me</h1>
    <section class="buttons-checks">
    <input type="radio" data-ng-model="search.miles" value="5" />5 Miles
      <input type="radio" data-ng-model="search.miles" value="15" />15 Miles
      <input type="radio" data-ng-model="search.miles" value="45" />45 Miles
    </section>
    <h1 class="title-single">Search By Platform</h1>
    <section class="buttons-checks">
      <input type="checkbox" data-ng-model="search.platform.xbox" value="XBOX" />XBOX
      <input type="checkbox" data-ng-model="search.platform.xbox360" value="XBOX360" />XBOX360
      <input type="checkbox" data-ng-model="search.platform.xboxone" value="XBOXONE" />XBOXone
    </section>
    <section class="buttons-checks">
      <input type="checkbox" data-ng-model="search.platform.ps4" value="PS4" />PS4
      <input type="checkbox" data-ng-model="search.platform.ps3" value="PS3" />PS3
      <input type="checkbox" data-ng-model="search.platform.ps2" value="PS2" />PS2
    </section>
    <section class="buttons-checks">
      <input type="checkbox" data-ng-model="search.platform.wii" value="Wii" />Wii
      <input type="checkbox" data-ng-model="search.platform.n64" value="N64" />N64
      <input type="checkbox" data-ng-model="search.platform.nes" value="NES" />NES
    </section>
    <section class="buttons-checks">
      <input type="checkbox" data-ng-model="search.platform.pc" value="PC" />PC
      <input type="checkbox" data-ng-model="search.platform.mac" value="MAC" />MAC
    </section>
    <section class="buttons-checks">
      <input type="checkbox" data-ng-model="search.platform.board" value="BOARD" />BOARD
      <input type="checkbox" data-ng-model="search.platform.card" value="CARD" />CARD
    </section>

  </filter>


  <option>Atari</option>
  <option>Board</option>
  <option>Card</option>
  <option>DS</option>
  <option>Game Boy</option>
  <option>GameCube</option>
  <option>NES</option>
  <option>N64</option>
  <option>Sega</option>
  <option>PC</option>
  <option>PS1</option>
  <option>PS2</option>
  <option>PS3</option>
  <option>PS4</option>
  <option>PSP</option>
  <option>Wii</option>
  <option>Wii PC</option>
  <option>Wii U</option>
  <option>Vita</option>
  <option>Xbox</option>
  <option>Xbox 360</option>
  <option>Xbox One</option>
  <option>Other</option>
