<div class="position-view_main"></div>

<section class="section group">
  <!-- information bar -->
  <h2 class="inform col span_4_of_4">Game Details</h2>

  <!--  send req button -->
  <a href="#/gamedetails" class="btn-positive col span_3_of_4" type="button" ng-click="sendRequest()" value="Send Request"/>SEND REQUEST</a>

   <!-- favorite button -->
  <button class="btn-fav col span_1_of_4"><span class="icon-star" ng-click="addFavorite()"></span></button>
</section>

<article class="game-details_main">
  <!-- title bar -->
  <h1 class="game-title_main">{{ game.title }}</h1>

  <!-- game image -->
  <img src='{{ game.image_urls[0] }}' class="img_main"></img>

  <!-- game info -->
  <section class="game-info_main">
    <h1>Game Owner: {{ game.owner_screenname }}</h1>
    <h2>{{ game.platform }}</h2>
    <p>Description: {{ game.short_description }}</p>
  </section>
</article>



