<div class="position-view_main" data-ng-init="filterSearch2()"></div>

<section class="section group">
  <!-- information bar -->
  <h2 class="inform col span_4_of_4">Game Details</h2>

  <!--  send req button -->
  <a href="#/gamedetails" class="btn-positive col span_3_of_4" type="button" ng-click="sendRequest()" value="Send Request"/>SEND REQUEST</a>

   <!-- favorite button -->
  <button class="btn-fav col span_1_of_4"><span class="icon-star" ng-click="addFavorite()"></span></button>
</section>


<article class="game-details_main" data-ng-model="games">
  <!-- title bar -->
  <h1 class="game-title_main">{{games[0].title}}</h1>

  <!-- game image -->
  <img src='{{ games[0].image_urls[0] }}' class="img_main"></img>

  <!-- game info -->
  <section class="game-info_main">
    <h1>Game Owner: {{ games[0].owner_screenname }}</h1>
    <h2>{{ games[0].platform }}</h2>
    <p>Description: {{ games[0].short_description }}</p>
  </section>
</article>



