
  <section class="section group">
    <!-- information bar -->
    <h2 class="inform col span_4_of_4">Game Details</h2>

    <!--  send req button -->
    <a href="#/gamedetails" class="btn-positive col span_3_of_4" type="button" ng-click="sendRequest()" value="Send Request"/>SEND REQUEST</a>

     <!-- favorite button -->
    <button class="btn-fav col span_1_of_4" for="fav"><span class="icon-star" ng-click="addFavorite()"></span></button>
  </section>

  <article class="game-details_main">
    <!-- title bar -->
    <h1 class="game-title_main">{{ game.title }}</h1>

    <!-- game image -->
    <img src='{{ game.image_urls[0] }}' class="img_main"></img>

    <!-- game info -->
    <section class="game-info_main">
      <h1> user name </h1>
      <h2> platform </h2>
      <p> description </p>
    </section>
  </article>



