<div class="container">
  <!--  accept trade button -->
  <input type="button" ng-click="acceptTrade()" value="Accept Trade"/><br />

  <!-- USER A - MY GAME: Title-->
  <div>{{game.title}}</div>

  <!-- USER A - MY GAME: platform-->

  <!-- USER A - MY GAME: short description-->

  <!-- USER B - TRADING FOR GAME: Title -->

  <!-- USER B - TRADING FOR GAME: Image -->
  <img src='{{ game.image_urls[0] }}'></img>

  <!-- USER B - TRADING FOR GAME: platform -->

  <!--  decline trade button -->
  <input type="button" ng-click="declineTrade()" value="Decline Trade"/><br />
</div>
