<div class="container">
  <div>
    The Place to Trade Your Games
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Search Games
        </div>
        <div class="container">
          <form>
            <input type="text" data-ng-model="search.title" placeholder="search"/>
            <input type="submit" data-ng-click="filterSearch()" value="Go"/>
            <a href="/filtersearch">Filter</a>
          </form>
        </div>
        <div class="panel-body">
          <div ng-repeat="game in games | limitTo:10" class="row">
            <div class="col-md-9">
              <a href="/games/{{game._id}}">{{game.title}}: {{game.platform}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
