
<h2 class="inform"> My Game Details Page </h2>
  <!-- title bar -->
  <h1 class="game-title_main"> {{ myGames[whichGame].title }} </h1>

  <!-- game image -->
  <img class="game-image" src= '{{ myGames[whichGame].image_urls[0] }}'></img>

  <!-- user name --> <!-- TODO: id number -->



  <!-- game info -->
 <section class="game-info_main">
    <h1>{{ myGames[whichGame].owner_screenname }}</h1>
    <h2>{{ myGames[whichGame].platform }}</h2>
    <p>{{ myGames[whichGame].short_description }}</p>
  </section>

  <button class="btn-remove" ng-click="removeGame()"> Remove Game </button>

