
<section class="inform">
  <h2>My Games To Trade</h2>
</section>

<!-- browse games list -->
<section class="game-summary section group" ng-repeat="game in games | limitTo:10">
  <a href="#/gamedetails/{{games.indexOf(game)}}" class="game-summary_img col span_2_of_6">
    <img  src='{{ game.image_urls[0] }}'></img>
  </a>
  <a href="#/gamedetails/{{game._id}}" class="game-summary_info col span_3_of_6">
    <h1>{{game.title}}</h1>
    <h2>{{game.platform}}</h2>
  </a>
  <input class="game-summary_check col span_1_of_6" type="checkbox" ng-model="checkbox">
</section>

<!-- Send request and cancel request buttons -->
<section class="btn-pair section group">
  <button class="btn-pair_pos col span_3_of_4" data-ng-click="sendRequest()">Send Request</button>
  <button class="btn-pair_neg col span_1_of_4" ng-click="cancelRequest()">Cancel Request</button>
</section>

