<h2 class="inform">Outbox Request Details</h2>

<section class="top-game">
  <h4>Game Requested</h4>
  <!--  game requested: title -->
  <h2 class="game-title_trade">{{ game.title }}</h1>
</section>
  <!--  game requested: img-->
  <img class="game-image" src= '{{ game.image_urls[0] }}'></img>

  <!--  game requested: platform -->
<section class="game-info_main">
  <h2>{{game.platform}}</h2>
  <p>{{game.short_description}}</p>
</section>

  <!--  game requested: short description -->


  <!-- cancel request -->
  <button class="btn-remove" ng-click="cancelRequest()"> Cancel Request<button>
