<div class="container">
  <div>
    My Profile
  </div>
  <img src='{{ avatar_url }}'></img>
  <br>
  <p>username: {{screenname}}</p>
  <p>email: {{email}}</p>
  <p>location: {{zip}}</p>


<section class="tab" ng-controller="TabCtrl as panel">
  <ul>
    <!-- if this tab isSelected, class="active" for styling -->
    <li ng-class="{ active:panel.isSelected(1) }">
      <!-- on click, selectTab(1) -->
      <a href ng-click="panel.selectTab(1)">INBOX</a>
    </li>

    <li ng-class="{ active:panel.isSelected(2) }">
      <a href ng-click="panel.selectTab(2)">OUTBOX</a>
    </li>

    <li ng-class="{ active:panel.isSelected(3) }">
      <a href ng-click="panel.selectTab(3)">GAMES</a>
    </li>

    <li ng-class="{ active:panel.isSelected(4) }">
      <a href ng-click="panel.selectTab(4)">FAVS</a>
    </li>
  </ul>
  <!-- Show the current tab -->
  {{ tab }}
  <br />

  <!-- if isSelected(1), show this div -->
  <div ng-show="panel.isSelected(1)">
    <p> SHOW USER INBOX HERE </p>
  </div>

  <div ng-show="panel.isSelected(2)">
    <p> SHOW USER OUTBOX HERE </p>
  </div>

  <div ng-show="panel.isSelected(3)">
    <p> SHOW USER GAMES HERE </p>
  </div>

  <div ng-show="panel.isSelected(4)">
    <p> SHOW USER FAVS HERE </p>
  </div>

  <button data-ng-click="signOut()">Sign Out</button>
</div>

