
<!-- search and information bar -->
<section class ="search">
  <input type="text" class="search-input" data-ng-model="search.title" placeholder="search"/>

  <button class="icon-search" data-ng-click="filterSearch()"></button>
    <a href="#/filtersearch" class="search-button">Filter</a>
  <section class="inform">
    Recent Games
  </section>
</section>

<!-- browse games list -->
<section class="game-summary">
  <div ng-repeat="game in games | limitTo:10">
      <img src='{{ game.image_urls[0] }}'></img>
      <a href="#/gamedetails/{{game._id}}">{{game.title}}: {{game.platform}}</a>

      <button class="icon-star btn-fav" ng-click="addFavorite()"></button>
  </div>
</section>

